* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: black; 
}
.colorContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 100px 30px;
    justify-content: center;
    text-align: center;

}
.colorBox{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    justify-content: center;
}
.color1 {
    height: 250px;
    width: 250px;
    background-color: #34C7C7;
    margin-top: 30px;
    border-radius: 20px;
}

.color2 {
    height: 250px;
    width: 250px;
    background-color: #db15c4;
    margin-top: 30px;
    border-radius: 20px;

}

.color3 {
    height: 250px;
    width: 250px;
    background-color: #41c65e;
    margin-top: 30px;
    border-radius: 20px;

}

.color4 {
    height: 250px;
    width: 250px;
    background-color: #d63e3e;
    margin-top: 30px;
    border-radius: 20px;

}

.color5 {
    height: 250px;
    width: 250px;
    background-color: #ffd900;
    margin-top: 30px;
    border-radius: 20px;
}
.color6 {
    height: 250px;
    width: 250px;
    background-color: #6a685e;
    margin-top: 30px;
    border-radius: 20px;
}
.color7 {
    height: 250px;
    width: 250px;
    background-color: #401cd1;
    margin-top: 30px;
    border-radius: 20px;
}
.color8 {
    height: 250px;
    width: 250px;
    background-color: #ff0051;
    margin-top: 30px;
    border-radius: 20px;
}
.color9 {
    height: 250px;
    width: 250px;
    background-color: #241c1d;
    margin-top: 30px;
    border-radius: 20px;
}
.color10 {
    height: 250px;
    width: 250px;
    background-color: #662d4c;
    margin-top: 30px;
    border-radius: 20px;
}
p{
color: white;
font-size: 20px;
font-weight:600;
margin-top: 10px;
}